.container {
  margin-top: 20px;
  text-align: center;
  justify-content: center;
}

.card-deck {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  gap: 20px;
}

.card {
  width: 18rem;
}

.selected-event {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}
